.topbarContainer {
  height: 83px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  border: 2px solid #f7f7f7;
}

.username {
  color: #858585;
  width: 91px;
  height: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  margin-left: 12px;
  font-style: normal;
  text-decoration: none;
}

.searchbar {
  width: 442px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-left: 30px;
  position: relative;
  padding: 10px 20px;
  background: #fff;
}

.searchbar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background-image: linear-gradient(178.18deg, #fd749b, #281ac8);
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
  color: #858585;
  width: 11.61px;
  height: 11.14px;
  margin-left: 10px;
  margin-right: 19.39px;
}

.searchInput {
  border: none;
  width: 350px;
  height: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  opacity: 0.5;
  mix-blend-mode: normal;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  color: white;
  justify-content: flex-end;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgAndUsername {
  display: flex;
  align-items: flex-end;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  margin-right: 34.11px;
  margin-left: 21px;
  height: 24px !important;
  width: 22px !important;
}

.topbarIconBadge {
  width: 14.58px;
  height: 14px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .topbarLink {
    display: none;
  }
}
