.messenger {
  height: 815px;
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.contactsBarContainer {
  width: 301px;
  border: 2px solid #f0f0f0;
}

.connectedBadgePersonal {
  background-color: #8cee5d;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  right: 13px;
  bottom: -14px;
}

.nameAndStatusPersonal {
  display: flex;
  flex-direction: column;
}

.topbarImg {
  margin-left: 33px;
}

.imgAndUsernamePersonal {
  border-bottom: solid 2px #f0f0f0;
  height: 100px;
  display: flex;
  align-items: center;
}

.statusPersonal {
  width: 36px;
  height: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: lighter;
  font-size: 10px;
  line-height: 24px;
  color: #858585b3;
}

.usernamePersonal {
  width: 109px;
  height: 14px;
  margin-bottom: 7px;
  margin-top: -5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 24px;

  color: #858585;
}

.chatBox {
  flex: 5.5;
  width: 874px;
  border: solid 2px #7c3232;
}

.ContactsChatContainer {
  width: 301px;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sideBar {
  width: 290px;
  border: solid 2px red;
}

.chatMessageInput {
  width: 788px;
  height: 54px;
  border-radius: 100px;
  /* border: 1px solid #f0f0f0; */
  display: flex;
}

.messengerInputContainer {
  display: flex;
  width: 788px;
  height: 54px;

  border: 1px solid #6c1111;
  border-radius: 100px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline {
  flex: 3;
}

.ContactsChatContainer {
  display: flex;
  flex-direction: column;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  /* padding: 10px; */
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox {
    flex: 10;
  }

  .chatOnline {
    flex: 1px;
  }
}
